.gif_fundo{
    width: 100vw;
    background-size: cover;
}

body{
    background-image: url(../imgs/omen.png);
    background-size: cover;
}

.caixa_login{
    width: 80vw;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.63);
    margin-top: 3.5vw;
    margin-left: 19vh;
    border-radius: 50px;
}