@import url(https://lolstatic-a.akamaihd.net/webfonts/live/css/valorant/fonts.css);

*{
    margin: 0.01%;
    padding: 0%;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(../imgs/skye_sorteio.jpg);
   
}

header{
    background-image: linear-gradient(to right,#000000 , #242424, #000000);
    width: 98.7vw;
    height: 13.3vh;
    display: flex;
    border-bottom: 3.5px solid #ff5252ef;
    position: fixed;
    
}

.nav_bar{
    /* background-color: red; */
    width: 40%;
    height: 100%;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p{
    font-family: 'DINNextW05-Bold';
    color:white;
}

a{
    text-decoration: none;
    font-family: 'DINNextW05-Bold';
    color:white; 
    cursor: pointer;
    font-size: 18px;
    transition: 0.6s;
}

#logo{
height: 100%;
margin-top: -0.2%;
    margin-left: 3%;
}

.caixa_button{
    width: 15%;
    height: 100%;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    margin-left: 7%;
}

header button{
    background-color: #00000000;
    height: 50%;
    width: 50%;
    border-radius: 100px;
    color: white;
    border: none;
    font-family: 'DINNextW05-Bold';
    font-size: 19px;
    cursor: pointer;
    transition: 0.4s;
}

#button_cad{
    margin-left: 3.6%;
}

#button_ent{
    margin-left: -2%;
}


header a:hover{
    color:#ff4848e8 ;
    transition: 0.6s;
    border-bottom: 2px solid #FF5252; 
}

header button:hover{
    color:#ff4848e8 ;
    transition: 0.6s;
    
}


.aa{
    background-image: url(../imgs/fundo_index_gg.jpg);
}

.caixa_titulo{
    border: 5px solid #ff5252;
    background-image: linear-gradient(#000000f8, #3a3a3ae7,#000000f8);
    border-radius: 30px;
    width: 80vw;
    height: 20vh;
    margin-top: 4%;
    margin-left: 8.7%;
}

.caixa_titulo p{
    font-family: 'DINNextW05-Bold';
    font-size: 6em;
    padding: 1%;
    margin-left: 2.3%;
    color: #ffffff;
}

::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar{
    width: 21px;
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background-color: #FF5252;
    border-radius: 13px;
    width: 15px;
    height: 15px;
}

.caixa_foto_ss{
    width: 30vw;
    height: 20vh;
    background-color: #000000e3;
    margin-top: 3%;
    border-radius: 25px;
    border: 2px solid #FF5252;
    margin-left: 35%;
}

.caixa_foto_ss p{
  
    font-family: 'DINNextW05-Bold';
    font-size: 2em;
    padding: 1%;
    margin-left: 2.3%;
    color: #ffffff;
    margin-top: 5%;
}

.caixa_foto_ss a{
    font-family: 'DINNextW05-Bold';
    font-size: 25px;
    padding: 1%;
    
    color: #ffffff;
}